{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="a">
                <img src="{% static 'img/almacen.jpg' %}">
            </div>
            <div class="b">
                <h1>Welcome to the warehouse administrator!</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="username">User</label>
                    <input type="text" id="username" name="username" placeholder="User" required>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                    <div class="form-buttons">
                        <button type="submit" class="login-button">Login</button>
                        <a href="{% url 'signup' %}" class="button sign-up-button">Sign Up</a>
                    </div>
                </form>
                {% if messages %}
                    {% for message in messages %}
                        <h1>{{ message }}</h1>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </body>
</html>
