body{
    margin: 0%;
    height:100%
}

.container {
    display: flex;
    height: 100vh; /* Establece la altura del padre para que ocupe toda la pantalla */
}
    
.a {
    display: flex;
    flex: 1; 
    align-items: center;
    background-color: #f6f6f6;
    height:100%;
}

.a img {
    width: 70%;
    margin: auto;
    display: block;
}

.b {
    display:flex;
    flex-direction: column;
    flex: 1; /* Hace que los hijos ocupen todo el espacio disponible */
    height: 100%;
    background-color: rgb(12, 12, 46);
    justify-content: center;
    align-items: center;
}
  
.b h1,label {
    font-family: Sans-serif;
    color: white;
    text-align: center;
}
.b label{
    font-size: 20px;
}
.b form{
    width: 230px;
    justify-content: center;
}

.b input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.b form button{    
    font-size: 20px;

    padding: 10px 20px;
     border-radius: 100px;
     border: 1px solid transparent;

    display: block;
    margin: 0 auto;
}

.b form button:hover {
    background: #db5015;
    color:white;
}

.b form button:active {
    transform: scale(0.95);
  }