{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/orders.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Product Detail</h1>
    <div class="card">
        <p><b>ID:</b> {{ product.id }}</p>
        <p><b>Name:</b> {{product.name}}</p>
        <p><b>Description:</b> {{product.description}}</p>
        <p><b>Price:</b> ${{ product.price }}</p>
        <p><b>Stock:</b> {{product.stock}}</p>
        <p><b>Created:</b> {{product.created_at}}</p>
        <p><b>Updated:</b> {{product.updated_at}}</p>

        <div class="option">
            <a href="{% url 'product_list' %}">Return</a>
        </div>
    </div>
</body>
</html>